<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻中心-登录</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
	<header>
		<span class="span-head">新闻管理系统</span>
		<div class="header-search">
			<form class="header-form" th:action="@{/admin/Search}">
				<div class="search">
					<div>
						<select name="row" style="height: 30px; width: 60px; border-radius: 8px; border: none; background: none">
							<option value="all" selected>全部：</option>
							<option value="title">标题：</option>
							<option value="author">作者：</option>
							<option value="content">内容：</option>
						</select>
						<input type="text" class="text-search" name="keyword" maxlength="50" style="font-size: 15px;">
					</div>
					<div>
						<input type="submit" value="搜索" class="butt"/>
					</div>
				</div>	
			</form>
		</div>
		<div class="ulf">
			<ul>
				<li><a th:href="@{/admin/main}" class="header-text">所有新闻</a></li>
				<li><a th:href="@{/admin/addNew}" class="header-text">添加新闻</a></li>
				<li><a th:href="@{/}" class="header-text">新闻主页</a></li>
			</ul>
		</div>
		<div style="clear:both;"></div>
	</header>
	<div class="center">
		<div class="left">
            <img th:src="@{/static/image/index.png}" height="400" width="600px">
        </div>
		<div class="right">
			<div class="title">管理员登录</div>
			<form th:action="@{/user/loginUser}" method="post">
				<div class="login">
				    <div class="row">
					    <div class="text">账号：</div>
					    <div class="in">
						    <input type="text" class="inputhover" name="username" maxlength="50" placeholder="1~50" th:value="${username}" required/>
					    </div>
					</div>
					<div class="row">
					    <div class="text">密码：</div>
					    <div class="in">
                            <input type="password" class="inputhover" name="password" maxlength="50" placeholder="1~50" th:value="${password}" required/>
                        </div>
					</div>
					<div style="color: red; font-size: 14px; height: 14px; margin-left: 73px;" th:text="${message}"></div>
				</div>
                <div class="but-all">
                    <input type="submit" class="but but1" value="确认">
                    <input type="reset" class="but but2" value="重置">
                </div>
			</form>
		</div>
	</div>
</body>
</html>